* {
  /* COLOR */
  --red: rgb(255, 75, 82);
  --orange: rgb(244, 186, 36);
  --green: rgb(148, 245, 119);
  --blue: #63d9ff;
  --purple: rgb(199, 90, 246);
  --white: #ffff;
  --black: #000000;

  /* FONTS */
  --Kadwa: "Kadwa", serif;
  --JakartaSans: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  /* min-height: 18735px; */
  /* min-width: 1920px; */
  position: relative;
  max-width: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#background_MAX {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.nav-container {
  display: flex;
  justify-content: center;
}

#navbar {
  position: absolute;
  width: 70%;
  top: 0;
  left: 15%;
  right: 0;
  z-index: 99;
  background: linear-gradient(
    90deg,
    rgba(211, 233, 220, 1) 0%,
    rgba(233, 220, 233, 1) 100%
  );
  padding: 20px 50px;
  border-radius: 0px 0px 50px 50px;
  border: solid rgba(255, 255, 255, 0.5) 4px;
  border-top: 0px;
  filter: drop-shadow(0 5 5 rgba(0, 0, 0, 0.1));
}

#navbar ul li a {
  font-size: 30px;
  transition: all 0.5s ease-in;
  margin: 0px 50px;
}

/* SECTION HERO */
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.section.hero {
  rotate: -4deg;
}

.label {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 30px;
  border: solid 4px rgba(255, 255, 255, 0.47);
  border-radius: 42px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.03));
  backdrop-filter: blur(12.6px);
  font-family: var(--JakartaSans);
  font-weight: 600;
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.section .title {
  font-family: var(--Kadwa);
  font-size: 95px;
  line-height: 90%;
  color: white;
  margin-top: 20px;
}

/* SECTION MULTIMEDIAN-WEBSITES */
.section.multimedian-websites {
  margin-top: 150px;
  margin-bottom: 150px;
}

.label.big {
  font-size: 60px;
  color: var(--black);
}

.container-websites {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.website {
  position: relative;
  width: 450px;
  height: 400px;
  padding: 20px;
  cursor: pointer;
  margin-right: 10px;
}

/* --red: rgb(255, 75, 82);
  --orange: rgb(244, 186, 36);
  --green: rgb(148, 245, 119);
  --blue: #63d9ff;
  --purple: rgb(199, 90, 246); */

.website::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5%;
  z-index: -1;
  width: 90%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  border: solid 2px white;
  border-radius: 15px;
  transition: all 0.5s ease-in;
}

.website:hover::before {
  width: 100%;
  height: 100%;
  bottom: 0px;
  filter: drop-shadow(0px 5px 10px rgba(255, 255, 255, 1));
}

.website .preview {
  width: 100%;
  height: 75%;
  background-color: #ff4b52;
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(4px 6px 2px rgba(0, 0, 0, 0.3));
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.website .information {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

.information .photo-profile {
  width: 60px;
  height: 60px;
  background-color: transparent;
  margin-right: 10px;
  border-radius: 8px;
  overflow: hidden;
  filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.3));
}

.photo-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information .container-text .website-name {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--Kadwa);
  color: var(--black);
}

.information .container-text .creator-name {
  font-size: 14px;
  font-family: var(--JakartaSans);
  color: var(--black);
}

/* SECTION 5 STAGES OF GRIEVE START */
.galery-scroll {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.35);
  height: 600px;
}

.galery-scroll-top {
  display: flex;
  justify-content: center;
  gap: 28px;
  overflow: hidden;
  user-select: none;
  --gap: 30px;
  gap: var(--gap);
}

.galery-scroll-cont {
  padding: 2rem 0;
}

.emotion {
  padding: 0 3rem;
}

.img-left img,
.img-right img {
  width: 230px;
}

.img-left,
.img-right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--gap);
}

.img-left {
  transform: translateY(-200px);
}

.img-cont:hover {
  animation-play-state: paused;
}

.img-cont {
  transform: translateY(-200px);
  animation: scroll 5s linear infinite;
}

.galery-scroll-text .text-right {
  padding-left: 7rem;
  padding-right: 1rem;
  padding-top: 2rem;
}
.galery-scroll-text .text-left {
  padding-right: 8rem;
  padding-left: 1rem;
  padding-top: 2rem;
}

.galery-scroll-text h2 {
  background: rgba(255, 255, 255, 0.35);
  padding: 0.7rem 1.5rem;
  border-radius: 1rem;
  display: inline-block;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.119);
  text-transform: uppercase;
  font-size: 2.6rem;
}

.galery-scroll-text p {
  background: rgba(255, 255, 255, 0.35);
  padding: 0.7rem;
  margin-top: 1rem;
  border-radius: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
}

/* SECTION 5 STAGES OF GRIEVE END */

/* Animation */
@keyframes scroll {
  to {
    transform: translateY(calc(-100% - 80px));
  }
}

/* Responsive */
@media screen and (max-width: 1280px) {
  .container {
    min-width: 100%;
    background-size: contain;
  }
}
