* { 
  background-color: black;  
  margin: 0; 
    padding: 0; 
  }
  
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Young Serif', serif;
    color: rgb(126, 126, 126);
  }
  
  h1,
  h2,
  h3 {
    color: #ffffff;
  }
  
  input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
  /* NAVBAR */

  .navbar {
    background: rgb(0, 0, 0);
    height: 100px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
    position: fixed;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
  }
  
  .navbar .logo img {
    height: 53px;
  }
  
  .nav-menu {
    display: flex;
    gap: 30px;
    color: #ffffff;
    padding-right: 20%;
    align-items: center;
    align-content: center;
  }
  
  .nav-menu a {
    text-decoration: none;
  }

  .nav-menu .active {
    color: #ffffff;
    font-weight: bold;
    font-size: large;
  }
  
  .nav-menu a:hover {
    color: #ffffff;
    font-weight: bold;
    transform: scale(1.2);
  }

  .background {
    width: 100%;
    height: 600px;
    padding-top: 80px;
  }
    
  .background img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  .btn-yellow {
    padding: 0.5rem 1.7rem 0.5rem 1.7rem !important;
    background-color: #000000 !important;
    color: #fff !important;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 0 0 #000000;
    box-shadow: 0 0 0 rgb(0, 0, 0);
  }

  .btn-yellow:hover {
    padding: 0.5rem 1.7rem 0.5rem 1.7rem !important;
    background-color: #00000099 !important;
    color: #FFF !important;
    transform: scale(1.2);
    font-weight: 500;
  }


  
  /* ABOUT */

  .about {
    background: #000000;
    padding: 100px 10%;
    display: flex;
    gap: 100px;
    align-items: center;
    
  }
  
  .about h1 {
    font-size: 60px;
    margin-top: 30px;
    font-weight: bold;
  }
  
  .about p {
    color: var(--gray);
    font-size: 16px;
    text-align: justify;
    width: 400px;
    margin-top: 20px;
  }
  
  .about > div {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
  }

  .about .video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2140px;
  }
  .about .video-container video{
    width: 100%;
    
  }

  .about .button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
  }
  
  .about .read-more {
    padding: 0.7rem 1.7rem 0.7rem 1.7rem !important;
    background-color: #beed00 !important;
    color: #000 !important;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 0 0 #beed00;
    box-shadow: 0 0 0 rgb(190 237 0);
  }

  .about .read-more:hover {
    padding: 0.7rem 1.7rem 0.7rem 1.7rem !important;
    background-color: #beed00 !important;
    color: #000 !important;
    transform: scale(1.2);
    font-weight: 500;
  }

/* DOKUMENTASI */

.dokumentasi {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dokumentasi .card {
  height: 100%;
  position: relative;
}

.dokumentasi .card > img {
  border-radius: 20px;
  position: relative;
  height: 200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dokumentasi  .text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%,-50%);
  text-shadow: 0 0 10px black;
}

    /* PAGE ABOUT */

    .about-long {
      background: #000000;
      padding: 100px 10%;
      display: block;
      /* padding: 30px; */
    }
    
    .about-long p{
      text-align: center;
      color: var(--gray);
      font-size: 16px;
      margin-top: 20px;
    }

    .about-long > img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .judul {
      padding-left: 150px;
      padding-top: 100px;
      padding-right: 500px;
      padding-bottom: 20px;
      font-size: 20px;
      color: white;
    }
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #302f2f;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: rgb(0, 0, 0);
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container {
      border-radius: 5px;
      background-color: #756f6f;
      padding: 20px;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 350px;
      background-color: #000000;
      padding: 20px;
      border-radius: 10px;
      position: relative;
    }
    
    .message {
      color: rgba(88, 87, 87, 0.822);
      font-size: 14px;
    }
    
    .flex {
      display: flex;
      width: 100%;
      gap: 6px;
    }
    
    .form label {
      position: relative;
    }
    
    .form label .input {
      width: 100%;
      padding: 10px 10px 20px 10px;
      outline: 0;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 5px;
      background-color: whitesmoke;
    }
    
    .form label .input + span {
      position: absolute;
      left: 10px;
      top: 15px;
      color: grey;
      font-size: 0.9em;
      cursor: text;
      transition: 0.3s ease;
      background-color: whitesmoke;
    }
    
    .form label .input:placeholder-shown + span {
      top: 15px;
      font-size: 0.9em;
    }
    
    .form label .input:focus + span,.form label .input:valid + span {
      top: 30px;
      font-size: 0.7em;
      font-weight: 600;
    }
    
    .form label .input:valid + span {
      color: green;
    }
    
    .input01 {
      width: 100%;
      padding: 10px 10px 20px 10px;
      outline: 0;
      border: 1px solid rgba(105, 105, 105, 0.397);
      border-radius: 5px;
      background-color: whitesmoke;
    }
    
    .form label .input01 + span {
      position: absolute;
      left: 10px;
      top: 50px;
      color: grey;
      font-size: 0.9em;
      cursor: text;
      transition: 0.3s ease;
    }
    
    .form label .input01:placeholder-shown + span {
      top: 40px;
      font-size: 0.9em;
      background-color: whitesmoke;
    }
    
    .form label .input01:focus + span,.form label .input01:valid + span {
      top: 50px;
      font-size: 0.7em;
      font-weight: 600;
    }
    
    .form label .input01:valid + span {
      color: green;
    }
    
    .fancy {
      background-color:#beed00 !important;
      ;
      border: 2px solid #cacaca;
      border-radius: 0px;
      box-sizing: border-box;
      color: #000000;
      cursor: pointer;
      display: inline-block;
      font-weight: 390;
      letter-spacing: 2px;
      margin: 0;
      outline: none;
      overflow: visible;
      padding: 8px 30px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      transition: all 0.3s ease-in-out;
      user-select: none;
      font-size: 13px;
    }
    
    .fancy::before {
      content: " ";
      width: 1.7rem;
      height: 2px;
      background: #cacaca;
      top: 50%;
      left: 1.5em;
      position: absolute;
      transform: translateY(-50%);
      transform: translateX(230%);
      transform-origin: center;
      transition: background 0.3s linear, width 0.3s linear;
    }
    
    .fancy .text {
      font-size: 1.125em;
      line-height: 1.33333em;
      padding-left: 2em;
      display: block;
      text-align: left;
      transition: all 0.3s ease-in-out;
      text-transform: lowercase;
      text-decoration: none;
      color: #000000;
      background-color: transparent;
      transform: translateX(30%);
    }
    
    .fancy .top-key {
      height: 2px;
      width: 1.5625rem;
      top: -2px;
      left: 0.625rem;
      position: absolute;
      background: white;
      transition: width 0.5s ease-out, left 0.3s ease-out;
    }
    
    .fancy .bottom-key-1 {
      height: 2px;
      width: 1.5625rem;
      right: 1.875rem;
      bottom: -2px;
      position: absolute;
      background: white;
      transition: width 0.5s ease-out, right 0.3s ease-out;
    }
    
    .fancy .bottom-key-2 {
      height: 2px;
      width: 0.625rem;
      right: 0.625rem;
      bottom: -2px;
      position: absolute;
      background: white;
      transition: width 0.5s ease-out, right 0.3s ease-out;
    }
    
    .fancy:hover {
      color: #beed00;
      background: #beed00;
    }
    
    .fancy:hover::before {
      width: 1.5rem;
      background: white;
    }
    
    .fancy:hover .text {
      color: white;
      padding-left: 1.5em;
    }
    
    .fancy:hover .top-key {
      left: -2px;
      width: 0px;
    }
    
    .fancy:hover .bottom-key-1,
     .fancy:hover .bottom-key-2 {
      right: 0;
      width: 0;
    }


  
