:root {
  --main-font: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

.line {
  border: 0.5px solid black;
  margin: 0;
  padding: 0;
}
.line-white {
  border: 0.5px solid rgb(156, 156, 156);
  margin: 0;
  padding: 0;
}
/* Nav start */

.nav-link,
.navbar-brand {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar {
  z-index: 999999;
  padding: 0.3rem 1rem;
}

.navbar-nav {
  width: 0px;
  justify-content: right;
  position: relative;
}

.dropdown-menu {
  width: 400px;
  /* padding: 2rem 1rem 1rem; */
  padding: 0;
  margin-left: -18rem;
  border-radius: 6%;
}

.dropdown-item {
  padding: 1rem 2rem 0;
}

.dropdown-menu .dropdown-atas {
  font-size: 1.8rem;
}

.dropdown-bottom {
  display: flex;
  padding: 0.5rem;
}

.dropdown-bottom .dropdown-item {
  padding: 1rem;
}

.dropdown-bottom .dropdown-item:hover {
  font-weight: 700;
}

.dropdown-brand a {
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  background-color: lightgray;
  padding-bottom: 1rem;
  border-radius: 0 0 6% 6%;
}

.dropdown-brand a:hover {
  background-color: lightgray;
}
/* Nav end */

/* Landing start */

#home #head_para {
  width: 90%;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 550px;
  top: -150px;
}

#home {
  display: flex;
  position: relative;
  padding: 3.5rem 1rem;
  position: relative;
  margin-bottom: 2rem;
}

#home .row {
  display: flex;
  flex-direction: row;
}

#home h1 {
  font-size: 4.3rem;
  font-weight: 300;
  margin-bottom: 4rem;
  position: relative;
  z-index: 899999;
}

#home .video-head {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

#home .video-head iframe {
  border-radius: 40%;
  border: 1px solid white;
  padding: 1px;
  margin-right: 1rem;
}

#home .video-head p {
  margin: 0;
  font-weight: 500;
}

#home h5 {
  font-weight: 400;
}
/* Landing end */

/* selected start */
#selected {
  height: 100vh;
  padding: 1rem;
}

#selected .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#selected h3 {
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#selected .selected-card {
  position: relative;
  padding: 0;
  transition: 0.7s;
  padding: 0 0.8rem;
  filter: drop-shadow(-10px -30px 10px rgba(0, 0, 0, 0.295));
  margin-bottom: 4rem;
}

#selected .selected-card:hover {
  transform: scale(1.1);
}

#selected img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  object-position: center;
}

.selected-card h4 {
  position: absolute;
  bottom: 10%;
  text-transform: capitalize;
  padding: 0 1rem;
}
.selected-card p {
  position: absolute;
  bottom: -0%;
  font-size: 0.9rem;
  text-transform: capitalize;
  padding: 0 1rem;
}

.selected-card i {
  position: absolute;
  top: 0;
  left: 0.6rem;
  transition: 1s;
  padding: 0 1.5rem;
  font-size: 3.5rem;
}

.selected-card i:hover {
  color: #666;
}

#selected a {
  color: white;
  text-decoration: none;
}
/* selected end */

/* we do start */
#wedo {
  padding: 4rem 1rem;
  background-color: white;
  color: black;
}

#wedo p {
  font-weight: 600;
  font-size: 1.1rem;
}

#wedo h1 {
  font-size: clamp(6vw, 5vw, 40px);
  font-weight: 300;
  margin: 0;
  margin-bottom:rem;
}

#wedo a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

span {
  opacity: .1;
}
/* we do end */

/* capabilities start */
#capa {
  background-color: white;
  color: black;
  padding: 2rem 1rem;
}

#capa p {
  font-weight: 600;
  font-size: 1.1;
}

#capa .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#capa .col-md-12 p {
  font-size: 1.8rem;
}

#capa .col-md-12 a {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}
.gallery-item {
  padding: 10px;
  transition: 0.5s;
  /* border: 1px solid #ddd; */
}

.gallery-item:hover {
  transform: scale(1.1);
}
.gallery-item img {
  width: 100%;
  height: auto;
}
.gallery-item h3 {
  font-size: 1em;
  margin: 10px 0 5px;
}
.gallery-item p {
  font-size: 0.8em;
  color: #666;
  margin: 0;
}


.capa-para {
  width: 50%;
  font-size: 0.8rem;
  color: #666;
}
/* capabilities end */

/* about start */
#about {
  padding: 3rem 1rem;
}

#about .circle-about {
  width: 330px;
  padding-left: 1rem;
}

#about h3 {
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 1rem;
}

.about-up {
  position: relative;
}

.about-up .col-md-3 {
  display: flex;
  align-items: first baseline;
}

.about-up .col-md-6 {
  display: flex;
  align-items: center;
  z-index: 88;
}

.about-up .about-paralax {
  position: absolute;
  width: 85%;
  left: 45rem;
  rotate: 190deg;
  top: 30rem;
  z-index: 2;
}

.about-center {
  display: flex;
  text-align: left;
  z-index: 7777;
  position: relative;
  gap: 5rem;
  margin-bottom: 4rem;
}
.about-center h5 {
  font-size: 6rem;
  font-weight: 300;
}

.about-center h6 {
  font-size: 1.5rem;
  font-weight: 500;
}

.about-bottom {
  display: flex;
  margin-top: 1.5rem;

  z-index: 66666;
}

.about-bottom .col-md-3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-bottom img {
  width: 45%;
}
/* about end */

/* people start */

#people {
  position: relative;
  height: 75rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

#people p {
  margin: 2rem 0 10rem;
}

#people img {
  position: absolute;
  width: 40%;
  margin-top: -38rem;
  margin-left: 10rem;
  z-index: 2;
 
}

#people h1 {
  position: absolute;
  text-transform: capitalize;
  font-size: 5.2rem;
  z-index: 55;
  font-weight: 400;
}

#people .col-md-5 {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  justify-content: flex-end;
}

#people h6 {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-top: 35rem;
  font-weight: 400;
}

#people a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  bottom: -4rem;
}
/* people end */

/* footer start */
footer {
  background-color: white;
  color: black;
  padding: 3rem 1rem;
}

footer .connect p {
  font-size: 5rem;
  line-height: 7rem;
  font-weight: 300;
}
footer .connect i {
  font-size: 7rem;
}

.nav-bottom ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
  justify-content: space-between;
}

.nav-bottom ul li a {
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.4rem;
}
/* footer end */

/* hover */
.nav-link:hover,
.nav-item:hover,
.nav-link:active,
.nav-item:active,
.navbar-brand:hover {
  color: white;
  font-weight: 800;
}




/* ///////////About//////////// */


/* landing */
#about-landing h1 {
  font-size: 4.8rem;
  font-weight: 300;
  width: 50%;
  margin-bottom: 3rem;
}

#about-landing {
  padding: 11.5rem 1rem 5rem;
  color: black;
}

#about-landing p {
  font-size: 1.3rem;
}



/* about */
#wedo img {
  width: 100%;
  margin-top: 3rem;
  height: auto;
}

#wedo .about-img-text {
  margin-top: 1rem;
  text-transform: capitalize;
}


/* ///////////Position//////////// */
.hiring {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

.porto {
  padding: 5rem 8rem;
  color: black;
}

.porto h5 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.porto p {
  font-size: 0.7rem;

}

.porto img {
  width: 100%;
}

/* //////////Selected//////////// */

.list-cont {
  margin-bottom: 5rem;
}

.list-ket {
  list-style-type: none;
  display: flex;
 
  align-items: center;
  justify-content: center;
}
.list-ket li{
  color: black;
  text-align: center;
  font-size: 1rem;
  width: 25%;
}
.list-ket li a{
  color: black;
  text-decoration: none;
}

/* //////////WORK//////////// */

#work-galery {
  color: black;
  padding: 10rem 2rem;
 
}

#work-galery h1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

/* WORK GALERY */
.work-card img {
  width: 100%;
}

.work-card1 img {
  height: 600px;
  margin-bottom: 1.5rem;
  object-fit:cover;
}

.work-card {
  position: relative;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.238);
}

.work-card1 {
  position: relative;
}


.work-card h2 {
  position: absolute;
  bottom: 3.5rem;
  left: 2rem;
  font-size: 1.5rem;
}
.work-card p {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}